.banner {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-page/office-480w.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  max-width: 480px;
  height: 400px;

  &__header {
    max-width: 696px;
    font-weight: 900;
    font-size: 1.857em;
    line-height: 3rem;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  &__button {
    font-weight: 700;
    font-size: 1.14rem;
    font-weight: 700;
    font-size: 1.14rem;
    line-height: 2.14rem;
    background: $brand-color;
    color: #ffffff;
    cursor: pointer;
    border-width: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 41px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .banner {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-page/office-480w@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .banner {
    max-width: 768px;
    height: 400px;
    margin-bottom: 0;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-page/office-768w.jpg);
  }
  .banner__header {
    font-size: 2.75rem;
    line-height: 3.75rem;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .banner {
    max-width: 768px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-page/office-768w@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    max-width: 1200px;
    max-height: 600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-page/office-1600w.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .banner {
    max-width: 1200px;
    max-height: 600px;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/main-page/office-1600w@2x.jpg);
  }
}
