.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

// .flex {
//   display: flex;
//   align-items: center;
// }

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-header {
  font-weight: 700;
  font-size: 2.57rem;
  line-height: 3rem;
  color: #212121;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.wrapper2 {
  background-color: #f5f4fa;
  margin-top: 94px;
  padding: 94px 0;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .page-header__flex {
    display: flex;
    justify-content: space-between;
  }
}
