.mobile__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    fill: $brand-color;
  }
}

@media (min-width: 768px) {
  .mobile__button {
    display: none;
  }
}
