.mobile__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    fill: $brand-color;
  }
}

.mobile-menu {
  padding: 48px 40px;
  margin: 0;
  list-style-type: none;
}

.mobile--list:not(:nth-child(1)) {
  padding-top: 32px;
}

.mobile__link {
  font-weight: 500;
  font-size: 2.857em;
  color: #212121;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.mobile__contact {
  display: flex;
  flex-direction: column;
}
.mobile__contact--list {
  list-style-type: none;
}
.mobile__contact--details {
  text-decoration: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile__button {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
  font-size: 35px;
  &:hover,
  &:focus {
    color: $brand-color;
    outline: none;
  }
}

@media screen and (min-width: 481px) {
  .mobile__button {
    display: none;
  }
}
