.page-header {
  min-width: 320px;
  background-color: yellow;
}

.page-header .adaptive {
  border: 2px solid red;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .page-header {
    background-color: orange;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    background-color: green;
    max-width: 1200px;
  }
}
